/* CSS files add styling rules to your content */

/* apply a natural box layout model to all elements */
* {

   box-sizing: border-box;
}


body {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  background: #f2f2f2;
}


header{
  background: #999999;
  padding: 2%;
  text-align: center;
}

h2 {
  color: #b03d13;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

aside {
   flex: 20%;
   background: #999999;
  text-align: center;
}



article {
  flex: 75%;
  margin: 1%;
  text-align: left;
}

a {
   color: #b03d13;
}

footer {
  padding: 1%;
  width: 100%;
  color: #b03d13;
  text-align: center;
  background: #999999;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}